{% extends 'dashbord/base.html' %} 
{% load static %} 
{% block content %}
<div class="container text-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{form}}
            <div class="row">
                <div class="col-lg-8 offset-2">
                    <button href="" class="btn btn-info" type="submit" style="width: 100%;">Select</button>
                </div>
            </div>
        </div>
        {% if input %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <div class="row">
                <div class="col-lg-8 offset-2">
                    {{m_form.input}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-1">
                    {{m_form.measure1}}
                </div>
                <div class="col-lg-4 offset-1">
                    {{m_form.measure2}}
                </div>
            </div>

        </fieldset>
        <fieldset class="form-group text-danger fw-bolder">
            {{answer}}
        </fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-8 offset-2">
                    <button href="" class="btn btn-warning" type="submit" style="width: 100%;">Convert</button>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>

{% endblock content %}