{% extends 'dashbord/base.html' %}
{% load static %}

{% block content %}
<!-- <div class="container">
  <div class="row">
      <div class="col-lg-8 offset-2">
          <form action="" method="post">
            <h2 class="text-center text-uppercase fw-bolder">Login Page</h2>
              {% csrf_token %}
              User Name : <input type="text" name="uname" class="form-control">
              Password : <input type="password" name="pass" class="form-control">
              <input type="submit" value="Login" class="btn btn-success mt-3" style="width: 100%;">
          </form>
      </div>
  </div>
</div> -->

<!-- Login 1 - Bootstrap Brain Component -->
<!-- <div class="bg-light py-3 py-md-5"> -->
  <div class="container">
    <div class="row justify-content-md-center" >
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="text-center mb-5">
                <a href="#!">
                  <h1 style="font-family: Monotype Corsiva;">Login Student Study Protal </h1>
                </a>
              </div>
            </div>
          </div>
          <form action="#!" method="post">
            {% csrf_token %}
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label">User Name  <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                  </span>
                  <input type="text" class="form-control" name="uname" id="email" required style="font-size: 20px;">
                  <!-- <input type="text" name="uname" class="form-control"> -->
                </div>
              </div>
              <div class="col-12">
                <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                      <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                      <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                  </span>
                  <input type="password" class="form-control" name="pass" id="password" value="" required style="font-size: ;">
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg mt-3" type="submit" style="width: 100%;">Log In</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle">
              <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row">
                <a href="{% url 'register' %}" class="link-secondary text-decoration-none text-danger" style="font-family: Monotype Corsiva; font-size: 30px; ">Create new account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}